*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */

}

.container-box{
  width: 100%;
  height: 99vh;
  background-color: aqua;

}


.srk{
    width: 100%;
    /* height: 99vh; */
    position: relative;

}

.srk-k{
    width: 100%;
}

.blur-box{
width: 1000px;
height: 500px;    
position: absolute;
top: 300px;
right: 400px;
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.3px);
-webkit-backdrop-filter: blur(10.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.card{
    background: transparent;
}
